<h1 id="releasenotesforkoha3.20.13">RELEASE NOTES FOR KOHA 3.20.13</h1>

<p>24 Jul 2016</p>

<p>Koha is the first free and open source software library automation
package (ILS). Development is sponsored by libraries of varying types
and sizes, volunteers, and support companies from around the world. The
website for the Koha project is:</p>

<ul>
<li><a href="http://koha-community.org">Koha Community</a></li>
</ul>

<p>Koha 3.20.13 can be downloaded from:</p>

<ul>
<li><a href="http://download.koha-community.org/koha-3.20.13.tar.gz">Download</a></li>
</ul>

<p>Installation instructions can be found at:</p>

<ul>
<li><a href="http://wiki.koha-community.org/wiki/Installation_Documentation">Koha Wiki</a></li>
<li>OR in the INSTALL files that come in the tarball</li>
</ul>

<p>Koha 3.20.13 is a bugfix/maintenance release.</p>

<p>It includes 2 bugfixes.</p>

<h2 id="otherbugsfixed">Other bugs fixed</h2>

<h3 id="architectureinternalsandplumbing">Architecture, internals, and plumbing</h3>

<ul>
<li><a href="http://bugs.koha-community.org/bugzilla3/show_bug.cgi?id=16502">[16502]</a> Table koha_plugin_com_bywatersolutions_kitchensink_mytable not always dropped after running Plugin.t</li>
<li><a href="http://bugs.koha-community.org/bugzilla3/show_bug.cgi?id=16720">[16720]</a> DBIx ActionLogs.pm should be removed</li>
</ul>

<h2 id="systemrequirements">System requirements</h2>

<p>Important notes:</p>

<ul>
<li>Perl 5.10 is required</li>
<li>Zebra is required</li>
</ul>

<h2 id="documentation">Documentation</h2>

<p>The Koha manual is maintained in DocBook.The home page for Koha 
documentation is </p>

<ul>
<li><a href="http://koha-community.org/documentation/">Koha Documentation</a></li>
</ul>

<p>As of the date of these release notes, only the English version of the
Koha manual is available:</p>

<ul>
<li><a href="http://manual.koha-community.org//en/">Koha Manual</a></li>
</ul>

<p>The Git repository for the Koha manual can be found at</p>

<ul>
<li><a href="http://git.koha-community.org/gitweb/?p=kohadocs.git;a=summary">Koha Git Repository</a></li>
</ul>

<h2 id="translations">Translations</h2>

<p>Complete or near-complete translations of the OPAC and staff
interface are available in this release for the following languages:</p>

<ul>
<li>English (USA)</li>
<li>Arabic (99%)</li>
<li>Armenian (100%)</li>
<li>Chinese (China) (98%)</li>
<li>Chinese (Taiwan) (97%)</li>
<li>Czech (98%)</li>
<li>Danish (81%)</li>
<li>English (New Zealand) (99%)</li>
<li>Finnish (99%)</li>
<li>French (94%)</li>
<li>French (Canada) (94%)</li>
<li>German (100%)</li>
<li>German (Switzerland) (99%)</li>
<li>Greek (85%)</li>
<li>Italian (100%)</li>
<li>Korean (62%)</li>
<li>Kurdish (59%)</li>
<li>Norwegian Bokmål (60%)</li>
<li>Occitan (95%)</li>
<li>Persian (68%)</li>
<li>Polish (100%)</li>
<li>Portuguese (100%)</li>
<li>Portuguese (Brazil) (97%)</li>
<li>Slovak (100%)</li>
<li>Spanish (100%)</li>
<li>Swedish (88%)</li>
<li>Turkish (100%)</li>
<li>Vietnamese (84%)</li>
</ul>

<p>Partial translations are available for various other languages.</p>

<p>The Koha team welcomes additional translations; please see</p>

<ul>
<li><a href="http://wiki.koha-community.org/wiki/Translating_Koha">Koha Translation Info</a></li>
</ul>

<p>for information about translating Koha, and join the koha-translate 
list to volunteer:</p>

<ul>
<li><a href="http://lists.koha-community.org/cgi-bin/mailman/listinfo/koha-translate">Koha Translate List</a></li>
</ul>

<p>The most up-to-date translations can be found at:</p>

<ul>
<li><a href="http://translate.koha-community.org/">Koha Translation</a></li>
</ul>

<h2 id="releaseteam">Release Team</h2>

<p>The release team for Koha 3.20.13 is</p>

<ul>
<li>Release Manager: <a href="mailto:tomascohen@gmail.com">Tomás Cohen Arazi</a></li>
<li>QA Manager: <a href="mailto:Katrin.Fischer@bsz-bw.de">Katrin Fischer</a></li>
<li>QA Team:
<ul>
<li><a href="mailto:kyle@bywatersolutions.com">Kyle Hall</a></li>
<li><a href="mailto:jonathan.druart@biblibre.com">Jonathan Druart</a></li>
<li><a href="mailto:tomascohen@gmail.com">Tomás Cohen Arazi</a></li>
<li><a href="mailto:m.de.rooy@rijksmuseum.nl">Marcel de Rooy</a></li>
<li><a href="mailto:nick@bywatersolutions.com">Nick Clemens</a></li>
<li><a href="mailto:jweaver@bywatersolutions.com">Jesse Weaver</a></li>
</ul></li>
<li>Bug Wranglers:
<ul>
<li><a href="mailto:amitddng135@gmail.com">Amit Gupta</a></li>
<li><a href="mailto:magnus@enger.priv.no">Magnus Enger</a></li>
<li><a href="mailto:mirko@abunchofthings.net">Mirko Tietgen</a></li>
<li><a href="mailto:indradg@l2c2.co.in">Indranil Das Gupta</a></li>
<li><a href="mailto:z.tajoli@cineca.it">Zeno Tajoli</a></li>
<li><a href="mailto:veron@veron.ch">Marc Véron</a></li>
</ul></li>
<li>Packaging Manager: <a href="mailto:mirko@abunchofthings.net">Mirko Tietgen</a></li>
<li>Documentation Manager: <a href="mailto:nengard@gmail.com">Nicole C. Engard</a></li>
<li>Translation Manager: <a href="mailto:bgkriegel@gmail.com">Bernardo Gonzalez Kriegel</a></li>
<li>Wiki curators: 
<ul>
<li><a href="mailto:">Brook</a></li>
<li><a href="mailto:kohadevel@agogme.com">Thomas Dukleth</a></li>
</ul></li>
<li>Release Maintainers:
<ul>
<li>16.05 -- <a href="mailto:f.demians@tamil.fr">Frédéric Demians</a></li>
<li>3.22 -- <a href="mailto:julian.maurice@biblibre.com">Julian Maurice</a></li>
<li>3.20 -- <a href="mailto:chrisc@catalyst.net.nz">Chris Cormack</a></li>
</ul></li>
</ul>

<h2 id="credits">Credits</h2>

<p>We thank the following libraries who are known to have sponsored
new features in Koha 3.20.13:</p>

<p>We thank the following individuals who contributed patches to Koha 3.20.13.</p>

<ul>
<li>Tomás Cohen Arazi (1)</li>
<li>Chris Cormack (2)</li>
<li>Marcel de Rooy (4)</li>
</ul>

<p>We thank the following libraries, companies, and other institutions who contributed
patches to Koha 3.20.13</p>

<ul>
<li>Catalyst (2)</li>
<li>Rijksmuseum (4)</li>
<li>Theke Solutions (1)</li>
</ul>

<p>We also especially thank the following individuals who tested patches
for Koha.</p>

<ul>
<li>Chris Cormack (5)</li>
<li>Frédéric Demians (5)</li>
<li>Jonathan Druart (5)</li>
<li>Julian Maurice (5)</li>
<li>Srdjan (5)</li>
<li>Kyle M Hall (5)</li>
<li>Marcel de Rooy (2)</li>
</ul>

<p>We regret any omissions.  If a contributor has been inadvertently missed,
please send a patch against these release notes to 
koha-patches@lists.koha-community.org.</p>

<h2 id="revisioncontrolnotes">Revision control notes</h2>

<p>The Koha project uses Git for version control.  The current development 
version of Koha can be retrieved by checking out the master branch of:</p>

<ul>
<li><a href="git://git.koha-community.org/koha.git">Koha Git Repository</a></li>
</ul>

<p>The branch for this version of Koha and future bugfixes in this release
line is 3.20.x.
The last Koha release was 3.16.9, which was released on March 29, 2015.  </p>

<h2 id="bugsandfeaturerequests">Bugs and feature requests</h2>

<p>Bug reports and feature requests can be filed at the Koha bug
tracker at:</p>

<ul>
<li><a href="http://bugs.koha-community.org">Koha Bugzilla</a></li>
</ul>

<p>He rau ringa e oti ai.
(Many hands finish the work)</p>

<p>Autogenerated release notes updated last on 24 Jul 2016 23:27:39.</p>
