<nav id="region">
    <ul>
        <li><a ng-href="{{ baseUrl }}/new-zealand/" ng-class="{active: locationSetting == 'new-zealand'}">New Zealand</a></li>
        <li><a ng-href="{{ baseUrl }}/australia/" ng-class="{active: locationSetting == 'australia'}">Australia</a></li>
    </ul>
</nav>

<div id="contentwrap">
<div id="main">

    <p id="intro">Discover a wealth of tools, resources and guidance in a wide variety of areas, from public practice and auditing to superannuation and the corporate sector.</p>
        <div class="featured-block">
        <h3 id="featured-title" ng-show="featuredItems && featuredItems.length">Featured Items</h3>
        <div id="featured" ng-show="featuredItems && featuredItems.length">
            <div class="item clearfix" ng-repeat="item in featuredItems | limitTo:3 | orderBy:'title'">
                <!-- featured items will usually have a koha cover image specified -->
                <img cover-img="{{ item.mimetype }}" amazon-cover="https://images-na.ssl-images-amazon.com/images/P/{{ item.isbn | isbn13to10 }}.01.LZZZZZZZ.jpg" biblionumber="{{ item.biblionumber }}" alt="Cover image">
                <h5 ng-show="locationSetting != 'international'">
                    <a target="_blank" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title | removeTitleColon }}</a>
                </h5>
                <h5 ng-show="locationSetting == 'international'">

                    <!-- opac page -->
                    <a target="_blank" ng-show="!item.itemsurl" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title | removeTitleColon }}</a>
                    <!-- ebook link -->
                    <a target="_blank" ng-show="item.itemsurl" ng-href="{{ item.itemsurl }}">{{ item.title | removeTitleColon }}</a>
                </h5>
                <!--<p class="metadata"><span ng-show="item.author">{{ item.author | removeAuthorSlash }}</span></p>-->
                <p ng-show="item.itemsurl && (locationSetting != 'international' ) && item.type == 'BOOK'"><a class="featured-ebook" target="_blank" ng-href="{{ item.itemsurl }}">Also available as an ebook</a></p>
            </div>
        </div>
        </div>

    <article ng-show="items && items.length">


        <nav class="subsections" ng-show="articleSubjects.length">
            <h3 id="articles-subsections" ng-click="scrollTo('articles')" class="anchor-link">Articles</h3>
            <ul>
                <li ng-repeat="subject in articleSubjects | orderBy:'toString()'" ng-show="subject != ''"><a class="anchor-link" ng-click="scrollTo('articles-' + subject)">{{ subject }}</a></li>
            </ul>
        </nav>

        <nav class="subsections" ng-show="bookSubjects.length">
            <h3 id="books-subsections" ng-click="scrollTo('books')" class="anchor-link" ng-show="!ebooksOnly">Books</h3>
            <h3 id="books-subsections" ng-click="scrollTo('ebooks')" class="anchor-link" ng-show="ebooksOnly">eBooks</h3>
            <ul>
                <li ng-repeat="subject in bookSubjects | orderBy:'toString()'"><a class="anchor-link" ng-click="scrollTo('books-' + subject)">{{ subject }}</a></li>
            </ul>
        </nav>

        <nav class="subsections" ng-show="otherSubjects.length">
            <h3 id="others-subsections" >Browse by subject</h3>
            <ul>
                <li ng-repeat="subject in otherSubjects | orderBy:'toString()'"><a class="anchor-link" ng-click="scrollTo('others-' + subject)">{{ subject }}</a></li>
            </ul>
        </nav>

        <div id="back-to-top" ng-click="scrollTo('top')" class="anchor-link" ui-scrollfix>
            Back to top
        </div>

        <div ng-show="articleSubjects.length">
            <h3 id="articles">Articles</h3>
            <p>Available online to members, or via request through the library.</p>
        </div>

        <div ng-repeat="subject in articleSubjects | orderBy:'toString()'">
            <h4 id="articles-{{ subject | anchorEncode }}">{{ subject }}</h4>

            <div class="item article" ng-repeat="item in items | exactMatch:{type: 'ARTICLE', subject:subject} | orderBy:'title'">
                <h5 id="{{ item.biblionumber }}">
                    <a target="_blank" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title }} {{ item.subtitle }}</a>
                </h5>
                <p class="metadata"><span ng-show="item.author">{{ item.author | removeAuthorSlash }}<br></span>{{ item.series }} {{ item.date || currentYear + '.' }}<span ng-show="item.pagesarticle"><br>{{ item.pagesarticle }}</span></p>
                <p class="abstract">{{ item.abstract }}</p>
                <a target="_blank" class="item-link download" ng-show="item.url" ng-href="/cgi-bin/koha/download.pl?biblionumber={{ item.biblionumber }}">Download</a>
                <a target="_blank" class="item-link request" ng-show="!item.url" ng-href="/cgi-bin/koha/opac-reserve.pl?biblionumber={{ item.biblionumber }}">Request</a>
            </div>
        </div>

        <div ng-show="bookSubjects.length">
            <h3 id="books" ng-show="!ebooksOnly">Books</h3>
            <h3 id="ebooks" ng-show="ebooksOnly">eBooks</h3>
            <p ng-show="locationSetting == 'australia' || locationSetting == 'new-zealand' || locationSetting == 'all'">Available for loan from the library.</p>
        </div>

        <div ng-repeat="subject in bookSubjects | orderBy:'toString()'">
            <h4 id="books-{{ subject | anchorEncode }}">{{ subject }}</h4>

            <div class="item clearfix book" ng-repeat="item in items | exactMatch:{type: 'BOOK|AUCONF|NZICACP|CONFERENCE|EBOOKSUM', subject: subject} | orderBy:'title'">
                <img cover-img="{{ item.mimetype }}" amazon-cover="https://images-na.ssl-images-amazon.com/images/P/{{ item.isbn | isbn13to10 }}.01.MZZZZZZZ.jpg" biblionumber="{{ item.biblionumber }}" alt="Cover image">
                <h5 id="{{ item.biblionumber }}">
                    <a target="_blank" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title }} {{ item.subtitle }}</a>
                </h5>
                <p class="metadata"><span ng-show="item.author">{{ item.author | removeAuthorSlash  }}<br></span>{{ item.publisher || 'Unknown publisher,' }} {{ item.date || currentYear + '.' }}</p>
                <p class="abstract">{{ item.abstract }}</p>
                <a target="_blank" class="item-link request" ng-href="/cgi-bin/koha/opac-reserve.pl?biblionumber={{ item.biblionumber }}" ng-show="!ebooksOnly && item.type != 'EBOOKSUM'">Request</a>
                <a target="_blank" ng-show="item.itemsurl" class="item-link download" href="{{ item.itemsurl }}">Download eBook</a>
                <a target="_blank" ng-show="item.url && !item.itemsurl && item.type == 'EBOOKSUM'" class="item-link download" href="{{ item.url }}">Download eBook Summary</a>

            </div>
        </div>

        <div ng-show="otherSubjects.length">
            <!-- <h3 id="others">Browse by Subject</h3> -->
        </div>

        <div ng-repeat="subject in otherSubjects | orderBy:'toString()'">
            <h4 id="others-{{ subject | anchorEncode }}">{{ subject }}</h4>

            <div ng-repeat="item in items | exactMatch:{type: 'TOOLS|TOOLS PUB|TOOLONLINE|TOOLONLPRI', subject: subject} | orderBy:'title'" class="item clearfix {{ item.type | lowercase }}">
                <h5 id="{{ item.biblionumber }}">
                    <a target="_blank" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title }} {{ item.subtitle }}</a>
                </h5>
                <p class="metadata"><span ng-show="item.author">{{ item.author | removeAuthorSlash  }} <!--<br>--> </span><!--{{ item.publisher || 'Unknown publisher,' }}--> {{ item.date || currentYear + '.' }}<span ng-show="item.pagesbook"><br>{{ item.pagesbook }}</span></p>
                <p class="abstract">{{ item.abstract }}</p>
                <a target="_blank" class="item-link request" ng-show="!item.url" ng-href="/cgi-bin/koha/opac-reserve.pl?biblionumber={{ item.biblionumber }}">Request</a>
                    
                <a target="_blank" class="item-link {{ typeActions[item.type] | lowercase }}" ng-show="item.type == 'TOOLS PUB'" ng-href="/cgi-bin/koha/publicdownload.pl?biblionumber={{ item.biblionumber }}">{{ typeActions[item.type] }}</a>
                <a target="_blank" class="item-link {{ typeActions[item.type] | lowercase }}" ng-show="item.type == 'TOOLS'" ng-href="/cgi-bin/koha/download.pl?biblionumber={{ item.biblionumber }}">{{ typeActions[item.type] }}</a>

                <a target="_blank" class="item-link {{ typeActions[item.type] | lowercase }}" ng-show="item.type == 'TOOLONLINE'" ng-href="{{item.url}}">{{ typeActions[item.type] }}</a>
                <a target="_blank" class="item-link {{ typeActions[item.type] | lowercase }}" ng-show="item.type == 'TOOLONLPRI'" ng-href="/cgi-bin/koha/download.pl?uri={{item.url}}&biblionumber={{ item.biblionumber }}">{{ typeActions[item.type] }}</a>
            </div>
        </div>

    </article>

    <div ng-show="loadError || (itemsLoaded && !items.length)" ng-cloak>
        <p class="load-error">Sorry, bulletin not found. Try loading <a ng-href="{{ baseUrl }}">the latest issue</a>.</p>
    </div>
  </nav>
</div>
<div id="sidebar">

    <aside  class="royalbluebox">
      <h3>New Tools</h3>
      <p>Recommend a topic or tool you would like to see developed</p>
      <p><a class="side-link" href="mailto:library@charteredaccountantsanz.com?subject=Tool%20Recommendation">Email now</a></p>
    </aside>

    <aside class="oceanbluebox">
      <h3>Visit your Library</h3>
      <p>Browse the online catalogue or access your personal research service</p>
      <p><a class="side-link" href="/">Access Now</a></p>
    </aside>

</div>

</div> <!-- end of main -->

</div>
