<nav id="region">
    <ul>
            <li><a ng-href="{{ baseUrl }}/new-zealand/" ng-class="{active: locationSetting == 'new-zealand'}">New Zealand</a></li>
            <li><a ng-href="{{ baseUrl }}/australia/" ng-class="{active: locationSetting == 'australia'}">Australia</a></li>
            <li><a ng-href="{{ baseUrl }}/international/" ng-class="{active: locationSetting == 'international'}">International</a></li>
            <li><a ng-href="{{ baseUrl }}/all/" ng-class="{active: locationSetting == 'all'}">All</a></li>
    </ul>
</nav>

<div id="contentwrap">
<div id="main">

    <p id="intro">The Chartered Accountants Australia and New Zealand's Current Awareness Bulletin, published monthly by the Library and Information Services team.</p>
    <article ng-show="items && items.length">

        <h2>{{ monthFormat(currentMonth) }} {{ currentYear }}</h2>
        <p id="posted-on" ng-show="currentYear == mostRecentYear && currentMonth == mostRecentMonth">Posted on <strong>{{ lastUpdated | date:'MMM d, y h:mm a'}}</strong></p>
        <div class="featured-block">
        <h3 id="featured-title" ng-show="featuredItems && featuredItems.length">Featured Items</h3>
        <div id="featured" ng-show="featuredItems && featuredItems.length">
            <div class="item clearfix" ng-repeat="item in featuredItems | limitTo:3 | orderBy:'title'">
                <!-- featured items will usually have a koha cover image specified -->
                <img cover-img="{{ item.mimetype }}" amazon-cover="https://images-na.ssl-images-amazon.com/images/P/{{ item.isbn | isbn13to10 }}.01.LZZZZZZZ.jpg" biblionumber="{{ item.biblionumber }}" alt="Cover image">
                <h5 ng-show="locationSetting != 'international'">
                    <a target="_blank" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title | removeTitleColon }}</a>
                </h5>
                <h5 ng-show="locationSetting == 'international'">

                    <!-- opac page -->
                    <a target="_blank" ng-show="!item.itemsurl" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title | removeTitleColon }}</a>
                    <!-- ebook link -->
                    <a target="_blank" ng-show="item.EBOOK" ng-href="{{ item.EBOOK }}">{{ item.title | removeTitleColon }}</a>
                </h5>
                <p class="metadata"><span ng-show="item.author">{{ item.author | removeAuthorSlash }}</span></p>
                <p ng-show="(locationSetting != 'international' ) && item.type == 'BOOK' && item.EBOOK"><a class="featured-ebook" target="_blank" ng-href="{{ item.EBOOK }}">Also available as an ebook</a></p>
            </div>
        </div>
        </div>
        <nav class="subsections" ng-show="articleSubjects.length">
            <h3 id="articles-subsections" ng-click="scrollTo('articles')" class="anchor-link">Articles</h3>
            <ul>
                <li ng-repeat="subject in articleSubjects | orderBy:'toString()'" ng-show="subject != ''"><a class="anchor-link" ng-click="scrollTo('articles-' + subject)">{{ subject }}</a></li>
            </ul>
        </nav>

        <nav class="subsections" ng-show="bookSubjects.length">
            <h3 id="books-subsections" ng-click="scrollTo('books')" class="anchor-link" ng-show="!ebooksOnly">Books and eBooks</h3>
            <h3 id="books-subsections" ng-click="scrollTo('ebooks')" class="anchor-link" ng-show="ebooksOnly">eBooks</h3>
            <ul>
                <li ng-repeat="subject in bookSubjects | orderBy:'toString()'"><a class="anchor-link" ng-click="scrollTo('books-' + subject)">{{ subject }}</a></li>
            </ul>
        </nav>

        <nav class="subsections" ng-show="otherSubjects.length">
            <h3 id="others-subsections" ng-click="scrollTo('others')" class="anchor-link">Sites, Bites and Blogs</h3>
            <ul>
                <li ng-repeat="subject in otherSubjects | orderBy:'toString()'"><a class="anchor-link" ng-click="scrollTo('others-' + subject)">{{ subject }}</a></li>
            </ul>
        </nav>

        <div id="back-to-top" ng-click="scrollTo('top')" class="anchor-link" ui-scrollfix>
            Back to top
        </div>

        <div ng-show="articleSubjects.length">
            <h3 id="articles">Articles</h3>
            <p>Available online to members, or via request through the library.</p>
        </div>

        <div ng-repeat="subject in articleSubjects | orderBy:'toString()'">
            <h4 id="articles-{{ subject | anchorEncode }}">{{ subject }}</h4>

            <div class="item article" ng-repeat="item in items | exactMatch:{type: 'ARTICLE', subject:subject} | orderBy:'title'">
                <h5 id="{{ item.biblionumber }}">
                    <a target="_blank" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title }} {{ item.subtitle }}</a>
                </h5>
                <p class="metadata"><span ng-show="item.author">{{ item.author | removeAuthorSlash }}<br></span>{{ item.series }} {{ item.date || currentYear + '.' }}<span ng-show="item.pagesarticle"><br>{{ item.pagesarticle }}</span></p>
                <p class="abstract">{{ item.abstract }}</p>
                <a target="_blank" class="item-link download" ng-show="item.url" ng-href="/cgi-bin/koha/download.pl?biblionumber={{ item.biblionumber }}">Download</a>
                <a target="_blank" class="item-link request" ng-show="!item.url" ng-href="/cgi-bin/koha/opac-reserve.pl?biblionumber={{ item.biblionumber }}">Request</a>
            </div>
        </div>

        <div ng-show="bookSubjects.length">
            <h3 id="books" ng-show="!ebooksOnly">Books and eBooks</h3>
            <h3 id="ebooks" ng-show="ebooksOnly">eBooks</h3>
            <p ng-show="locationSetting == 'australia' || locationSetting == 'new-zealand' || locationSetting == 'all'">Available for loan from the library.</p>
        </div>

        <div ng-repeat="subject in bookSubjects | orderBy:'toString()'">
            <h4 id="books-{{ subject | anchorEncode }}">{{ subject }}</h4>
            <span ng-show="!ebooksOnly">
            <div class="item clearfix book" ng-repeat="item in items | exactMatch:{type: 'BOOK|AUCONF|NZICACP|CONFERENCE|EBOOKSUM|EBOOK', subject: subject } | orderBy:'title'">
                <img cover-img="{{ item.mimetype }}" amazon-cover="https://images-na.ssl-images-amazon.com/images/P/{{ item.isbn | isbn13to10 }}.01.MZZZZZZZ.jpg" biblionumber="{{ item.biblionumber }}" alt="Cover image">
                <h5 id="{{ item.biblionumber }}">
                    <a target="_blank" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title }} {{ item.subtitle }}</a>
                </h5>
                <p class="metadata"><span ng-show="item.author">{{ item.author | removeAuthorSlash  }}<br></span>{{ item.publisher || 'Unknown publisher,' }} {{ item.date || currentYear + '.' }}</p>
                <p class="abstract">{{ item.abstract }}</p>
                <a target="_blank" class="item-link request" ng-href="/cgi-bin/koha/opac-reserve.pl?biblionumber={{ item.biblionumber }}" ng-show="(item.hasbooks)">Request</a>
                <a target="_blank" ng-show="item.EBOOK" class="item-link download" href="{{ item.EBOOK }}">Download eBook</a>
                <a target="_blank" ng-show="item.AUDIOBOOK" class="item-link download" href="{{ item.AUDIOBOOK }}">Download audiobook</a>
                <a target="_blank" ng-show="item.EBOOKSUM" class="item-link download" href="{{ item.EBOOKSUM }}">Download eBook Summary</a>

            </div>
            </span>
            <span ng-show="ebooksOnly">
            <div class="item clearfix book" ng-repeat="item in items | exactMatch:{type: 'BOOK|AUCONF|NZICACP|CONFERENCE|EBOOKSUM|EBOOK', subject: subject } | orderBy:'title'" ng-if="ebooksOnly && item.EBOOK ">
                <img cover-img="{{ item.mimetype }}" amazon-cover="https://images-na.ssl-images-amazon.com/images/P/{{ item.isbn | isbn13to10 }}.01.MZZZZZZZ.jpg" biblionumber="{{ item.biblionumber }}" alt="Cover image">
                <h5 id="{{ item.biblionumber }}">
                    <a target="_blank" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title }} {{ item.subtitle }}</a>
                </h5>
                <p class="metadata"><span ng-show="item.author">{{ item.author | removeAuthorSlash  }}<br></span>{{ item.publisher || 'Unknown publisher,' }} {{ item.date || currentYear + '.' }}</p>
                <p class="abstract">{{ item.abstract }}</p>
                <a target="_blank" ng-show="item.EBOOK" class="item-link download" href="{{ item.EBOOK }}">Download eBook</a>
                <a target="_blank" ng-show="item.AUDIOBOOK" class="item-link download" href="{{ item.AUDIOBOOK }}">Download audiobook</a>
                <a target="_blank" ng-show="item.EBOOKSUM" class="item-link download" href="{{ item.EBOOKSUM }}">Download eBook Summary</a>

            </div>
            </span>
        </div>

        <div ng-show="otherSubjects.length">
            <h3 id="others">Sites, Bites and Blogs</h3>
        </div>

        <div ng-repeat="subject in otherSubjects | orderBy:'toString()'">
            <h4 id="others-{{ subject | anchorEncode }}">{{ subject }}</h4>

            <div ng-repeat="item in items | exactMatch:{type: 'PODCAST|REPORT|VIDEO|BLOG|MULTIMEDIA|WEB', subject: subject} | orderBy:'title'" class="item clearfix {{ item.type | lowercase }}">
                <h5 id="{{ item.biblionumber }}">
                    <a target="_blank" ng-href="/cgi-bin/koha/opac-detail.pl?biblionumber={{ item.biblionumber }}">{{ item.title }} {{ item.subtitle }}</a>
                </h5>
                <p class="metadata"><span ng-show="item.author">{{ item.author | removeAuthorSlash  }}<br></span>{{ item.publisher || 'Unknown publisher,' }} {{ item.date || currentYear + '.' }}<span ng-show="item.pagesbook"><br>{{ item.pagesbook }}</span></p>
                <p class="abstract">{{ item.abstract }}</p>
                <a target="_blank" class="item-link request" ng-show="!item.url" ng-href="/cgi-bin/koha/opac-reserve.pl?biblionumber={{ item.biblionumber }}">Request</a>
                <a target="_blank" class="item-link {{ typeActions[item.type] | lowercase }}" ng-show="item.url" ng-href="/cgi-bin/koha/download.pl?biblionumber={{ item.biblionumber }}">{{ typeActions[item.type] }}</a>
            </div>
        </div>

    </article>

    <div ng-show="loadError || (itemsLoaded && !items.length)" ng-cloak>
        <p class="load-error">Sorry, bulletin not found. Try loading <a ng-href="{{ baseUrl }}">the latest issue</a>.</p>
    </div>

</div> <!-- end of #main -->

<div id="sidebar">

    <aside class="royalbluebox">
      <h3>Tips for using this bulletin</h3>
      <span ng-bind-html="Tips"></span>
    </aside>

    <aside class="oceanbluebox">
      <h3>Useful links</h3>
      <span ng-bind-html="Links"></span>
    </aside>

    <nav ng-show="!(archiveYears.length == 1 && currentMonth == archiveBeginningMonth)">
      <h3>Archives</h3>
      <ul ng-repeat="year in archiveYears">
        <li ng-repeat="month in archiveMonths" ng-if="monthDisplayCheck(month, $parent.$first, $parent.$last)"><a ng-href="{{ baseUrl + '/' + locationSetting + '/archive/' + year + '/' + month }}" ng-click="scrollTo('top'); itemsLoaded = false">{{ monthFormat(month) }} {{ year }}</a></li>
      </ul>
    </nav>
</div>
