
/* app css stylesheet */

/* fonts */
@font-face {
    font-family: 'Berling';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bold.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bold.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bold.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bold.svg#berling-bold') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bold.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bold.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bold.woff') format('woff');
    font-weight: bold;
    font-style:  normal;
}
@font-face {
    font-family: 'Berling';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bolditalic.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bolditalic.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bolditalic.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bolditalic.svg#berling-bolditalic') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bolditalic.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bolditalic.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style:  italic;
}
@font-face {
    font-family: 'Berling';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regularitalic.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regularitalic.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regularitalic.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regularitalic.svg#berling-regularitalic') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regularitalic.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regularitalic.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regularitalic.woff') format('woff');
    font-weight: regular;
    font-style:  italic;
}
@font-face {
    font-family: 'Berling';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regular.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regular.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regular.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regular.svg#berling-regular') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regular.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regular.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/berling/berling-regular.woff') format('woff');
    font-weight: regular;
    font-style:  normal;
}


@font-face {
    font-family: 'Nexa';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabold.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabold.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabold.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabold.svg#nexa-extrabold') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabold.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabold.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabold.woff') format('woff');
    font-weight: 800;
    font-style:  normal;
}
@font-face {
    font-family: 'Nexa';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabolditalic.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabolditalic.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabolditalic.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabolditalic.svg#nexa-extrabolditalic') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabolditalic.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabolditalic.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-extrabolditalic.woff') format('woff');
    font-weight: 800;
    font-style:  italic;
}
@font-face {
    font-family: 'Nexa';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bold.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bold.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bold.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bold.svg#nexa-bold') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bold.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bold.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bold.woff') format('woff');
    font-weight: 700;
    font-weight: bold;
    font-style:  normal;
}
@font-face {
    font-family: 'Nexa';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bolditalic.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bolditalic.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bolditalic.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bolditalic.svg#nexa-bolditalic') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bolditalic.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bolditalic.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-bolditalic.woff') format('woff');
    font-weight: 700;
    font-weight: bold;
    font-style:  italic;
}
@font-face {
    font-family: 'Nexa';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regular.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regular.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regular.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regular.svg#nexa-regular') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regular.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regular.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regular.woff') format('woff');
    font-weight: regular;
    font-style:  normal;
}
@font-face {
    font-family: 'Nexa';
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regularitalic.eot');
    src: url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regularitalic.eot') format('embedded-opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regularitalic.woff2') format('woff2'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regularitalic.svg#nexa-regularitalic') format('svg'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regularitalic.otf') format('opentype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regularitalic.ttf') format('truetype'),
         url('https://nzicatest.koha.catalystdemo.net.nz/files/nzica/fonts/nexa/nexa-regularitalic.woff') format('woff');
    font-weight: regular;
    font-style:  italic;
}


body {
 -webkit-font-smoothing: antialiased;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-size: 100%;
  font-size: 18px;
  font-family: 'Berling', Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 35px;
  color: #59595B;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #59595B;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  color: #59595B;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  color: #59595B;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  color: #59595B;
}

h4 {
  font-size: 14px;
  line-height: 24px;
  color: #59595B;
}

a,
a:link,
a:active,
a:visited {
  color: #00629e;
  text-decoration: none;
  border-bottom: 1px solid #00a3dd;
}

a:hover, a:focus {
  color: #FFFFFF;
  background-color: #00629e;
  text-decoration: none;
}

#wrapper {
  margin: 0 auto;
  width: 1440px;
}

#header #header-strip {
  background-color: #00a3dd;
  height: 40px;
}

#header #banner {
  background: url(../img/banner.jpg) no-repeat top center;
  background-size: cover;
  height: 400px;
}

#header #logo {
  text-align: center;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

h1.title {
  display: block;
  background-color: #FFFFFF;
  width: 800px;
  margin: -80px auto 0 auto;
  text-align: center;
  padding: 50px;
  font-size: 50px;
  line-height: 60px;
  color: #58595b;
  font-weight: bold;
}

h1.title a {
  color: #58595b;
  border-bottom: 0;
}

h1.title a:hover, h1.title a:focus {
  background-color: #FFFFFF;
  color: #58595b;
}

aside,
nav {
  display: block; /* because IE8 is stupid */
}


nav#region {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 50px;
}
nav#region .viewlabel {
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 15%;
  display: inline-block;
  margin-left: 40px;
}
nav#region ul {
  padding: 0;
  margin: 40px 0;
  display: inline-block;
  width: 80%;
}
nav#region ul li {
  list-style-type:none;
  display:inline-block;
  text-transform: uppercase;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 24%;
  line-height: 1.333em;
}
nav#region ul li a {
  color: #59595B;
  border-bottom: 2px solid transparent;
  padding: 46px 60px 46px 20px;
  background: url(../img/arrow-down.png) no-repeat 90% center;
}
nav#region ul li a:hover {
  color: #00a3dd;
}
nav#region ul li a.active {
  border-bottom: 2px solid #00a3dd;
}

#contentwrap {
  margin-right: 300px;
  margin-top: 30px;
}

#main {
  float: left;
}

#main article {
  margin-bottom: 50px;
}

#sidebar {
  width:230px;
  margin-left:50px;
  float:right;
  margin-right: -300px;
}
#sidebar aside {
  background-color:#dfdfdf;
  padding: 0px 20px 15px;
  margin-bottom: 20px;
  color: #58595b;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sidebar .royalbluebox {
  color:#ffffff;
  background-color:#143672;
}
#sidebar .oceanbluebox {
  color:#ffffff;
  background-color:#00629E;
}
#sidebar .limegreenbox {
  color:#ffffff;
  background-color:#B7BF10;
}
#sidebar h3 {
  padding:30px 20px 10px 20px;
  width:100%;
  position: relative;
  left:-20px;
  color: #58595b;
}
#sidebar .royalbluebox h3,
#sidebar .oceanbluebox h3,
#sidebar .limegreenbox h3 {
  color:#ffffff;
}
#sidebar .royalbluebox a,
#sidebar .oceanbluebox a,
#sidebar .limegreenbox a {
  color:#ffffff;
}
#sidebar aside p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sidebar aside .side-link {
  text-transform: uppercase;
  background-color: #EFEFEF;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url(../img/arrow.png);
  padding: 2px 60px 2px 20px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  display: block;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: 0;
  color: #59595B;
  position: relative;
  bottom: -15px;
  margin-left: -20px;
  margin-right: -20px;
}

#sidebar nav {
  background-color:#efefef;
  padding: 0px 20px 15px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sidebar nav h3 {
  background-color: #efefef;
  color: #58595b;
}
#sidebar nav ul {
  margin:0;
  padding:0;
}
#sidebar nav li {
  list-style-type: none;
  margin-bottom: 10px;
}

.anchor-link {
  cursor: pointer;
}

.load-error {
  text-align: center;
  font-size: 110%;
  color:#8C8C8C;
  font-weight: bold;
}

#intro {
  margin-bottom: 50px;
  font-size: 24px;
}

#posted-on {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  float:right;
  margin-top: -57px;
}

#back-to-top {
  color:#59595B;
  background:#efefef url(../img/backtotop.png) no-repeat center right;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px 60px 2px 20px;
  text-transform: uppercase;
  margin:20px 0 0 0;
  font-weight: bold;
  float: right;
  display: inline-block;
  font-size: 14px;
}
#back-to-top:hover, #back-to-top:focus {
  background-image: url(../img/backtotop-hover.png);
  background-color: #143672;
  border: 0;
  color: #FFF;
}

#back-to-top.ui-scrollfix {
  position: fixed;
  bottom: 10px;
  margin-left:820px;
  z-index: 1;
}

#articles-subsections,
#books-subsections,
#ebooks-subsections,
#others-subsections,
#tools-subsections {
  background-color:#333333;
  color:#ffffff;
  background-repeat: no-repeat;
  background-position: 10px center;
}

#articles-subsections {
  background-image:url(../img/articles.png);
}
#ebooks-subsections,
#books-subsections {
  background-image:url(../img/books.png);
}
#others-subsections {
  background-image: url(../img/others.png);
}
#tools-subsections {
  background-image: url(../img/tools.png);
}

#books,
#articles,
#ebooks,
#tools,
#others {
  margin-bottom: 0;
  border-top: 1px solid #CCCCCC;
  padding-top: 50px;
  margin-top:50px;
  font-size: 30px;
  line-height: 40px;
}

nav.subsections h3 {
  margin-bottom: 0;
  padding: 13px 40px 10px;
}

nav.subsections ul {
  padding:10px 15px;
  margin: 0 0 50px 0;
  letter-spacing: -1em; /* Effectively collapses white-space */
}

nav.subsections ul li {
  letter-spacing: normal; /* Reset letter-spacing to normal value */
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  width: 225px;
  margin: 0 20px 0 20px;
}
nav.subsections ul li a {
  display: block;
  padding: 5px 30px 0 0;
  background: url(../img/arrow-right.png) no-repeat 97% center;
  border-bottom: 2px solid transparent;
  color: #333333;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
}
nav.subsections ul li a:hover, nav.subsections ul li a:focus {
  border-bottom: 2px solid #00a3dd;
  color: #00629e;
}

h4.ng-binding {
  font-size: 20px;
  line-height: 30px;
}

.item {
  margin-bottom: 30px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left 2px;
}
.item.video, .item.view {
  background-image:url(../img/ct-view.png);
}
.item.podcast, .item.listen {
  background-image:url(../img/ct-listen.png);
}
.item.blog, .item.web, .item.browse {
  background-image:url(../img/ct-browse.png);
}
.item.report, .item.download {
  background-image:url(../img/ct-download.png);
}
.item.article {
  padding-left: 40px;
  background-image:url(../img/article.png);
}
.item.tool {
  padding-left: 40px;
  background-image:url(../img/tool.png);
}
.item.book {
  padding-left: 145px;
}

.item img {
  float:left;
  border: 1px solid #DFDFDF;
  padding:2px;
  margin-left:-145px;
  max-width: 119px;
}

.item img.no-cover {
  padding:30px 39px 30px;
  background-color: #F5F5F5;
}

.item h4, .item h5 {
  margin:0;
  font-size: 18px;
  line-height: 28px;
}

.item .metadata {
  color:#8C8C8C;
  font-size: 12px;
  line-height: 22px;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

.item .abstract {
  margin: 0 0 10px 0;
}

.item-link,
.item-link:visited,
.item-link:active,
.item-link:link {
  text-transform: uppercase;
  background-color: #EFEFEF;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 2px 60px 2px 20px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: 0;
  color: #59595B;
}

.item-link:hover, .item-link:focus {
  background-color: #143672;
  border: 0;
  color: #FFF;
}

.item-link.download {
  background-image: url(../img/download.png);
}

.item-link.request {
  background-image:url(../img/request.png);
}

.item-link.view {
  background-image:url(../img/view.png);
}

.item-link.listen {
  background-image:url(../img/listen.png);
}

.item-link.browse {
  background-image:url(../img/browse.png);
}

.item-link.tool {
  background-image:url(../img/tool.png);
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.featured-block {
  background: #efefef;
  padding: 40px 60px;
}

#featured .item {
  width: 150px;
  padding-left: 135px;
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
}
#featured .item img {
  border: 0;
  padding: 0px;
  margin-left: -135px;
}

#featured .item img.no-cover {
  padding: 28px 39px 28px;
}

#featured .item .metadata {
  text-transform: uppercase;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#featured .item:last-child {
  margin-right:0;
}


#footer {
  background-color: #333333;
  color: #666;
  font-family: "Nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
}
#opaccredits {
  padding: 30px;
  max-width: 1400px;
  margin: 0px auto;
}
#opaccredits:after {
  clear: both;
}
#opaccredits:before,
#opaccredits:after {
  content: " ";
  display: table;
}
#opaccredits #disclaimer {
    padding: 10px 0px 20px;
    color: #666;
}
#footer a {
  border-bottom: 0;
  color: #FFFFFF;
}
#footer a:hover, #footer a:focus {
  background-color: transparent;
  text-decoration: underline;
}

#catalyst a {
    background: url(../img/catalyst-logo.png) no-repeat right 9px;
    display: inline-block;
    padding-right: 107px;
    color: #666;
    min-height: 20px;
}

#catalyst {
  margin-right: 20px;
  float: left;
}

#poweredbykoha {
  color: #666;
  float: right;
}


.item.multimedia {
  padding-left: 40px;
  background:url(../img/disk_icon.png) no-repeat left 2px;
}

@media only screen and (max-width: 1500px) {
  nav#region,
  #wrapper,
  #opaccredits {
    margin: 0 auto;
    width: 1200px;
  }
}

@media only screen and (max-width: 1260px) {
  nav#region,
  #wrapper,
  #opaccredits {
    margin: 0 auto;
    width: 900px;
  }
  #header #banner {
    height: 350px;
  }

  #back-to-top.ui-scrollfix {
    margin-left:585px;
  }
}

@media only screen and (max-width: 970px) {
  nav#region,
  #wrapper,
  #opaccredits {
    margin: 0 auto;
    width: 768px;
  }
  #header #banner {
    height: 300px;
  }
  h1.title {
    width: 500px;
    margin: -80px auto 0 auto;
    font-size: 40px;
    line-height: 50px;
  }
  nav#region .viewlabel {
    display: none;
  }
  nav#region ul {
    width: 100%;
  }

  #back-to-top.ui-scrollfix {
    margin-left:0;
    right:2%;
  }

  #featured .item {
    width:auto;
    margin-left: 0;
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  nav#region,
  #wrapper,
  #opaccredits {
    margin: 0;
    width: 100%;
  }
  #contentwrap {
    margin: 0 30px;
  }
}

@media only screen and (max-width: 768px) {
  #header #header-strip {
    display: none;
  }
  #header #logo {
    background: url(../img/logo-small.png) no-repeat 0 0;
    width: 176px;
    height: 35px;
    margin: 10px 30px;
  }
  #header #logo img {
    display: none;
  }
  h1.title {
    width: 400px;
    margin: -80px auto 0 auto;
  }
  #main {
    float: none;
  }
  nav.subsections ul li {
    width:auto;
    margin-left: 0;
    display: block;
  }
  nav#region ul {
    margin: 30px 0;
  }
  nav#region ul li {
    font-size: 12px;
  }
  nav#region ul li a {
    padding: 38px 30px 38px 20px;
  }
  #sidebar {
    float: none;
    margin: 10px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #posted-on {
    margin-top: -10px;
    float:none;
  }
  #header #banner {
    height: 250px;
  }
  h1.title {
    margin: -50px auto 0;
    width: 180px;
    font-size: 30px;
    line-height: 40px;
    padding: 30px;
  }
  nav#region ul {
    margin: 0 0 30px 0;
  }
  nav#region ul li {
    display: block;
    width: 100%;
  }
  nav#region ul li a {
    display: block;
    padding: 10px 20px;
  }
  nav#region ul li a.active {
    border-bottom: 0;
  }
  .featured-block {
    padding: 20px 30px;
  }
  #featured .item img,
  .item img {
    max-width: 70px;
    margin-left: -90px;
  }
  #featured .item {
    padding-left: 90px;
    margin-right: 0;
  }
  .item.book {
    padding-left: 90px;
  }
}
